.vertical-nav {
    min-width: 10rem;
    width: 10rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background: yellow;
    li {
        &:hover{
            background: deepskyblue;
        }
        a {
            text-align: center;
        }
    }
    p{
        text-align: center;
    }
  }
  
  .page-content {
    width: calc(100% - 10rem);
    margin-left: 10rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -10rem;
  }
  
  #content.active, #content2.active {
    width: 100%;
    margin: 0;
    #sidebarCollapse{
        left: 0;
        top: 0;
    }
    .button_home{
      left: 0;
      top: 50px;
    }
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -10rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 10rem;
      width: calc(100% - 10rem);
    }
  }
#sidebarCollapse{
    background:transparent;
    position: fixed;
    right: calc(100% - 13rem);
    bottom: calc(100% - 3rem);
    &:hover{
        background: transparentize($color: $white, $amount: 0.7);
    }
    &:focus{
        box-shadow: none;
    }
    span{
        color: white;
        opacity: 0.4;
    }
}

// home button 
.button_home{
  background:transparent;
  position: fixed;
  right: calc(100% - 13rem);
  bottom: calc(100% - 6rem);
  &:hover{
      background: transparentize($color: $white, $amount: 0.7);
  }
  &:focus{
      box-shadow: none;
  }
  span{
      color: white;
      opacity: 0.4;
  }
}