ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.one {
  background-color: #111;
  display: flex;
}

.two {
  background-color: #111;
}
.two .labelTitle {
  color: yellow;
}
.two .labelSubtitle {
  color: deepskyblue;
}

.full {
  height: 100vh;
  width: 100vw;
}

.one-section, .two-section {
  padding: 0 0 0 65px;
}

h1, h2 {
  color: #fff;
  margin: 0;
}

.home .p1, .home .p2 {
  color: #aaa;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(40, 209, 194, 0.75);
}

.card_pearson img {
  margin: 57px 0px;
}

.botonCard {
  position: absolute;
  bottom: 15px;
}

.contenido {
  color: #aaa;
  text-align: justify;
}

#table_apriori_wrapper, #matrizDistanciass_wrapper, #cen_wrapper {
  margin-top: 45px;
}
#table_apriori_wrapper #table_apriori_length, #table_apriori_wrapper #matrizDistanciass_length, #table_apriori_wrapper #cen_length, #matrizDistanciass_wrapper #table_apriori_length, #matrizDistanciass_wrapper #matrizDistanciass_length, #matrizDistanciass_wrapper #cen_length, #cen_wrapper #table_apriori_length, #cen_wrapper #matrizDistanciass_length, #cen_wrapper #cen_length {
  color: white;
}
#table_apriori_wrapper #table_apriori_length select, #table_apriori_wrapper #matrizDistanciass_length select, #table_apriori_wrapper #cen_length select, #matrizDistanciass_wrapper #table_apriori_length select, #matrizDistanciass_wrapper #matrizDistanciass_length select, #matrizDistanciass_wrapper #cen_length select, #cen_wrapper #table_apriori_length select, #cen_wrapper #matrizDistanciass_length select, #cen_wrapper #cen_length select {
  color: white;
}
#table_apriori_wrapper #table_apriori_filter, #table_apriori_wrapper #matrizDistanciass_filter, #table_apriori_wrapper #cen_filter, #matrizDistanciass_wrapper #table_apriori_filter, #matrizDistanciass_wrapper #matrizDistanciass_filter, #matrizDistanciass_wrapper #cen_filter, #cen_wrapper #table_apriori_filter, #cen_wrapper #matrizDistanciass_filter, #cen_wrapper #cen_filter {
  color: white;
}
#table_apriori_wrapper #table_apriori_filter input, #table_apriori_wrapper #matrizDistanciass_filter input, #table_apriori_wrapper #cen_filter input, #matrizDistanciass_wrapper #table_apriori_filter input, #matrizDistanciass_wrapper #matrizDistanciass_filter input, #matrizDistanciass_wrapper #cen_filter input, #cen_wrapper #table_apriori_filter input, #cen_wrapper #matrizDistanciass_filter input, #cen_wrapper #cen_filter input {
  color: white;
}
#table_apriori_wrapper thead tr, #matrizDistanciass_wrapper thead tr, #cen_wrapper thead tr {
  color: white;
}

#matrizDistancias {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

#matriz_pearson {
  color: white;
  border-color: white;
  margin-top: 45px;
}

button:focus, input:focus, select:focus {
  box-shadow: none !important;
}

#form_regresion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
#form_regresion div {
  width: 45%;
  margin-right: 15px;
}

#button_regresion {
  width: 100px;
  height: 38px;
  margin-top: 16px;
}

.color-white {
  color: white;
}

.vertical-nav {
  min-width: 10rem;
  width: 10rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background: #111;
}
.vertical-nav li:hover {
  background: rgba(0, 183, 255, 0.664);
}
.vertical-nav li a {
  text-align: center;
}
.vertical-nav li a:hover {
  color: white !important;
}
.vertical-nav p {
  text-align: center;
}

.page-content {
  width: calc(100% - 10rem);
  margin-left: 10rem;
  transition: all 0.4s;
}

/* for toggle behavior */
#sidebar.active {
  margin-left: -10rem;
}

#content.active, #content2.active {
  width: 100%;
  margin: 0;
}
#content.active #sidebarCollapse, #content2.active #sidebarCollapse {
  left: 0;
  top: 0;
}
#content.active .button_home, #content2.active .button_home {
  left: 0;
  top: 50px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -10rem;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 10rem;
    width: calc(100% - 10rem);
  }
}
#sidebarCollapse {
  background: transparent;
  position: fixed;
  right: calc(100% - 13rem);
  bottom: calc(100% - 3rem);
}
#sidebarCollapse:hover {
  background: rgba(255, 255, 255, 0.3);
}
#sidebarCollapse:focus {
  box-shadow: none;
}
#sidebarCollapse span {
  color: white;
  opacity: 0.4;
}

.button_home {
  background: transparent;
  position: fixed;
  right: calc(100% - 13rem);
  bottom: calc(100% - 6rem);
}
.button_home:hover {
  background: rgba(255, 255, 255, 0.3);
}
.button_home:focus {
  box-shadow: none;
}
.button_home span {
  color: white;
  opacity: 0.4;
}

/*# sourceMappingURL=main.css.map */
