@import 'utilities/variables';

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    overflow-x: hidden;
  }
.one {
    background-color: #111;
    display: flex;
  }
.two {
    background-color: #111;
    .labelTitle{
      color: yellow;
    }
    .labelSubtitle{
      color: deepskyblue;
    }
  }
.full {
    height: 100vh;
    width: 100vw;
  }
.one-section, .two-section {
    padding: 0 0 0 65px;
  }
h1, h2 {
    color: $white;
    margin: 0;
  }
//textos 
.home{
  .p1, .p2{
    color: #aaa;
  }
}

//cards 
.card{
  &:hover{
      box-shadow: 0 .5rem 1rem rgba(40, 209, 194,.75);
  }
}
.card_pearson{
  img{
    margin: 57px 0px;
  }
}
.botonCard{
  position: absolute;
  bottom: 15px;
}
// #matrizDistanciass{
//   width: 100%;
//   display: flex;
//   overflow-x: auto;
//   flex-direction: column;
//   thead{
//     tr{
//     text-align: right;
//     display: flex;
//     justify-content: space-between;
//     }
//   }
// }
// texto
.contenido{
  color: #aaa;
  text-align: justify;
}