@import 'utilities/variables';

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    overflow-x: hidden;
  }
.one {
    background-color: #111;
    display: flex;
  }
.two {
    background-color: #111;
  }
.full {
    height: 100vh;
    width: 100vw;
  }
.one-section, .two-section {
    padding: 0 0 0 65px;
  }
h1, h2 {
    color: $white;
    margin: 0;
  }