{% extends 'layout.html'%}

{% block body%}
<div class="one ">
    <div class="one-section page-content p-5" id="content">
        <button onclick="navswitch()" id="sidebarCollapse" type="button" class="btn">
            <span class="material-icons">
                view_list
            </span>
        </button>
        <button  type="button" class="btn button_home">
            <a href="/">
                   <span class="material-icons">
                home
            </span>
            </a>
        </button>
        <h1 class="mb-2">Apriori</h1>
        <div class="contenido">
            <div class="contenido_c1">
                <h3>Reglas de asociación</h3> 
                <p>Se utilizan para descubrir hechos que ocurren en común dentro de un determinado conjunto de datos.</p>
                <p>Por ejemplo: <span class="fw-bold">{cebollas,vegetales} -> {carne} </span></p>
                <div> Es un ejemplo de los datos de ventas de un supermercado, indicaría que un consumidor que compra cebollas y verdura a la vez,
                      es probable que compre también carne.
                      Esta información se puede utilizar como base para tomar decisiones sobre marketing
                      como precios promocionales para ciertos productos o dónde ubicar estos dentro del supermercado. 
                      Cuyo <span class="fw-bold">objetivo</span> es aumentar las ventas y reducir los costos. 
                </div> 
                <div class="pt-3">
                    Las reglas de asociación en la actualidad, se utilizan en los diversos sistemas de recomendación.Por ejemplo,
                    en tiendas virtuales como: <span class="fw-bold">Amazon, Lineo, ebay, Flipkart, Mercado Libre y otros.</span>
                </div>
                <h3 class="mt-3">Algoritmo apriori</h3>
                <div>
                    Para K productos
                    <ul>
                        <li>
                            1. El usuario establece un criterio de soporte mínimo.
                        </li>
                        <li>
                            2. A continuación, se genera una lista de productos de un ítem que
                            cumplan con el criterio de soporte mínimo.
                        </li>
                        <li>
                            3. Se utiliza la lista de un ítem para generar una lista de dos ítems que
                            cumplan con el criterio de soporte mínimo.
                        </li>
                        <li>
                            4. Se utiliza la lista de dos ítems para generar una lista de tres ítems.     
                        </li>
                        <li>
                            5. Se continua hasta construir un conjunto con el total de ítems disponibles (k).
                        </li>
                    </ul>
                </div>
                <h3 class="mt-3">Obtención de reglas significativas</h3>
                <div>
                    Mediciones para determinar reglas significativas:
                    <ul>
                        <li>
                            <span class="fw-bold"> -> Soporte (Cobertura).</span>  Indica cuan importante es una regla dentro del total de transacciones.
                        </li>
                        <li>
                            <span class="fw-bold"> -> Confianza.</span>   Indica que tan fiable es una regla.
                        </li>
                        <li>
                            <span class="fw-bold"> -> Lift (Elevación, Interés).</span>   Indica el nivel de relación de los componentes de la regla (antecedente y
                            consecuente).
                        </li>
                        <li>
                            <span class="fw-bold"> -> </span> Lift menor a 1 (Relación negativa), Lift mayor a 1 (Relación positiva), Lift = 1 (Independientes)   
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="two ">
    <div class="two-section page-content p-5" id="content2">
        <h2 class="mb-3">Algoritmo Apriori</h2>
        <div>
            <form id="form_apriori" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="fileApriori" class="form-label labelTitle">Archivo</label>
                  <input type="file" class="form-control" id="fileApriori" aria-describedby="archivo" name= "fileApriori" accept=" .txt, .csv">
                  <div class="form-text">Archivo a ser leido de tipo .txt  o .csv</div>
                </div>
                <div class="mb-3">
                    <label for="supportApriori" class="form-label labelSubtitle">Soporte</label>
                    <input type="number" class="form-control" id="supportApriori" aria-describedby="Soporte" name= "supportApriori" >
                    <div class="form-text">Indica cuan importante es una regla dentro del total de transacciones.</div>
                </div>
                <div class="mb-3">
                    <label for="confianzaApriori" class="form-label labelSubtitle">Confianza</label>
                    <input type="number" class="form-control" id="confianzaApriori" aria-describedby="Confianza" name= "confianzaApriori" >
                    <div class="form-text">Indica que tan fiable es una regla.</div>
                </div>
                <div class="mb-3">
                    <label for="liftApriori" class="form-label labelSubtitle">Elevación</label>
                    <input type="number" class="form-control" id="liftApriori" aria-describedby="Elevación" name= "liftApriori" >
                    <div class="form-text">Indica el nivel de relación de los componentes de la regla </div>
                </div>
                <button id="button_apriory" class="btn btn-primary">Evaluar</button>
            </form>
        </div>
        <div id="table_values" > 
        </div>
    </div>
</div>
{% endblock%}