{% extends 'index.html'%}

{% block general%}
<div class="one full">
    <div class="one-section page-content p-5" id="content">
        <button onclick="navswitch()" id="sidebarCollapse" type="button" class="btn">
            <span class="material-icons">
                view_list
            </span>
        </button>
        <h1>Algoritmo Apriori</h1>
    </div>
</div>
<div class="two full">
    <div class="two-section page-content p-5" id="content2">
        <h2>Descripcion de algoritmo apriory </h2>
    </div>
</div>
{% endblock%}