<!DOCTYPE html>
<html lang="es">

<head>
    <title>Proyecto Mineria Datos </title>
    <meta charset="utf-8">
    <meta name="description" content="descripcion de lo que se muestra en el navegador">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=0.3"> -->
    <!-- <link rel="icon" type="image/svg+xml" href="/images/logo.svg" sizes="any"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles/css/main.css">
</head>

<body>
    <div class="one full">
        <!-- inicio de menu nav -->
        <div id='menu-nav'>
        </div>
        <!-- fin de menu nav -->
        <div class="one-section">
            <h1>primera seccion</h1>
        </div>
    </div>
    <div class="two full">
        <div class="two-section">
            <h2>segunda seccion</h2>
        </div>
    </div>
</body>

</html>