{% extends 'layout.html'%}

{% block body%}
<div class="one ">
    <div class="one-section page-content p-5" id="content">
        <button onclick="navswitch()" id="sidebarCollapse" type="button" class="btn">
            <span class="material-icons">
                view_list
            </span>
        </button>
        <button  type="button" class="btn button_home">
            <a href="/">
                   <span class="material-icons">
                home
            </span>
            </a>
        </button>
        <h1 class="mb-2"> Clasificación </h1>
        <div class="contenido">
            <div class="contenido_c1">
                <h3>Regresion logistica</h3> 
                <p>La regresión logística es otro tipo de algoritmo de aprendizaje supervisado cuyo objetivo es
                    predecir valores binarios (0 o 1). Este algoritmo consiste en una transformación a la regresión
                    lineal.
                </p>
                <p>
                    La transformación se debe a que una regresión lineal no funciona para predecir una variable
                    binaria.
                </p>
                <p>Los valores de correlación, en este caso R, pueden variar entre -1 y 1. <span class="fw-bold"></span></p>
                <p>
                    Se utiliza la misma estructura que la regresión lineal, pero se transforma la variable respuesta (0
                    o 1) en una probabilidad.
                </p>
                <p>
                    Para esta transformación se utiliza la función logística (conocida también como sigmoide).
                </p>
                <img src="/static/images/RL.png">
                <p>e es aproximadamente <span class="fw-bold">  2.718281828 </span></p>
                <h4>Número de Euler</h4>
                <p>Euler definió una función exponencial a través de una función inversa: (1 + 1/n)^n</p>
                <p>El propósito fue tener una función, con diversas aplicaciones, para el cálculo del área
                    cubierta por una hipérbola, el interés compuesto continuo y otros usos actuales.</p>
            </div>
        </div>
    </div>
</div>
<div class="two ">
    <div class="two-section page-content p-5" id="content2">
        <h2 class="mb-3">Algoritmo Regresion Logistica</h2>
        <p class="color-white">Se entreno un modelo con los datos del archivo WDBCOriginal por lo que ya solo tienes que ingresar los datos
            del tumor y te regresara una respuesta si el tumor es benigno o maligno. 
        </p>
        <div>
            <form id="form_regresion" method="POST" enctype="multipart/form-data">
                <!-- Area -->
                <div class="mb-3">
                    <label for="Area" class="form-label labelSubtitle">Area</label>
                    <input type="number" class="form-control" id="Area" aria-describedby="Area" name= "Area" >
                    <div class="form-text">Indica el Area </div>
                </div>
                <!--Textura-->
                <div class="mb-3">
                    <label for="Texture" class="form-label labelSubtitle">Textura</label>
                    <input type="number" class="form-control" id="Texture" aria-describedby="Elevación" name= "Texture" >
                    <div class="form-text">Indica la Textura </div>
                </div>
                <!-- Compactness -->
                <div class="mb-3">
                    <label for="Compactness" class="form-label labelSubtitle">Compactness</label>
                    <input type="number" class="form-control" id="Compactness" aria-describedby="Elevación" name= "Compactness" >
                    <div class="form-text">Indica Compactness </div>
                </div>
                <!-- Concativity -->
                <div class="mb-3">
                    <label for="Concativity" class="form-label labelSubtitle">Concatividad</label>
                    <input type="number" class="form-control" id="Concativity" aria-describedby="Elevación" name= "Concavity" >
                    <div class="form-text">Indica la concatividad </div>
                </div>
                <!-- Simmetry -->
                <div class="mb-3">
                    <label for="Simmetry" class="form-label labelSubtitle">Simetria</label>
                    <input type="number" class="form-control" id="Simmetry" aria-describedby="Elevación" name= "Symmetry" >
                    <div class="form-text">Indica la Simetria </div>
                </div>
                <!-- Fractal Dimension -->
                <div class="mb-3">
                    <label for="Dimension" class="form-label labelSubtitle">Fractal Dimension</label>
                    <input type="number" class="form-control" id="Dimension" aria-describedby="Dimension" name= "FractalDimension" >
                    <div class="form-text">Indica la Dimension Fractal </div>
                </div>
                <div class="mb-3">
                    <label for="resultao" class="form-label labelSubtitle">El resultado es</label>
                    <input type="text" class="form-control" id="resultao" aria-describedby="resultao" name= "resultao" disabled >
                </div>
                <button id="button_regresion"  class="btn btn-primary">Evaluar</button>
            </form>
        </div>
    </div>
</div>
{% endblock%}